<div class="col-xs-11 col-xs-offset-1 fontNormal addInventory" layout="column">
        <div class="sectionSubHeading">
            <h3>New Product / Service</h3>
        </div>
        <div class="topPadding20">
            <md-content>
                <form name="addInventoryForm" style="background-color:#f5f6f8">
                        <div layout="row">
                                <md-input-container flex="25">
                                    <label>Product / Sevice</label>
                                    <md-select name="product" ng-model="product">
                                        <md-option value="Product 1">Product 1</md-option>
                                        <md-option value="Product 2">Product 2</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout="row" class="topPadding10">
                                    <md-input-container flex="25">
                                        <label>Name*</label>
                                        <input name="name" ng-model="name">
                                        <!--<div ng-messages="projectForm.clientName.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>-->
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>Category</label>
                                            <input name="category" ng-model="category">
                                            <!--<div ng-messages="projectForm.clientName.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>-->
                                    </md-input-container>
                                    <md-input-container flex="25" flex-offset="5">
                                        <label>Unit of Measure</label>
                                        <md-select name="unit" ng-model="unit">
                                            <md-option value="one">One</md-option>
                                            <md-option value="two">Two</md-option>
                                        </md-select>
                                    </md-input-container>
                            </div>
                            <div layout="row">
                                    <md-input-container flex="25">
                                        <label>HSN Code</label>
                                        <input name="hsnCode" ng-model="hsnCode">
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>Barcode</label>
                                            <input name="barcode" ng-model="barcode">
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>SKU</label>
                                            <input name="sku" ng-model="sku">
                                    </md-input-container>
                            </div>
                            <div layout="row">
                                    <md-input-container flex="25">
                                        <label>Vendor</label>
                                        <md-select name="vendor" ng-model="vendor">
                                            <md-option value="one">Vendor 1</md-option>
                                            <md-option value="two">Vendor 2</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>Price</label>
                                            <input name="price" ng-model="price">
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>Description</label>
                                            <input name="desc" ng-model="descript">
                                    </md-input-container>
                            </div>
                            <div layout="row" class="topPadding20">
                                    <md-button class="md-raised md-primary marginLeft0" flex="20">Detailed Specification<span class="pull-right description">-</span></md-button>
                            </div>
                            <div layout="row" class="topPadding30" ng-repeat="desc in Description">
                                   
                                    <md-input-container flex="25">
                                            <label>Name</label>
                                            <input name="name" ng-model="desc.name">
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>Value</label>
                                            <input name="value" ng-model="desc.value">
                                    </md-input-container>
                                    <md-input-container flex="5"  flex-offset="5">
                                            <img class="marginTop12" height="30" width="30" src="application/Images/Assets/INVENTORY_page/minus.png" ng-click="Remove($index)"/>
                                    </md-input-container>
                                    <md-input-container flex="5"  flex-offset="2">
                                            <img class="marginTop12" height="30" width="30" src="application/Images/Assets/INVENTORY_page/plus.png" ng-click="Add()" ng-if="$last"/>
                                    </md-input-container>
                            </div>
                            <div layout="row" class="topPadding30">
                                Image Upload Comes Here...
                            </div>
    <div layout="row" class="addPaddingButtons">
            <md-button class="md-raised" flex-offset="30">Reset All</md-button>
            <md-button class="md-raised md-primary">Save</md-button>
            <md-button class="md-raised md-primary" flex="15">Save & Purchase</md-button>
            <md-button class="md-raised">Cancel</md-button>
    </div>
                </form>
            </md-content>
        </div>
        <div class="">
        </div>
    </div>