<div class="col-xs-11 col-xs-offset-1 fontNormal addInventory" layout="column">
        <div class="sectionSubHeading">
            <h3>{{heading}} Journal</h3>
        </div>
        <div class="topPadding20">
            <md-content>
                <form name="addInventoryForm" style="background-color:#f5f6f8">
                            <div layout="row" class="topPadding10">
                                    <md-input-container flex="25">
                                            <label>Date</label>
                                            <md-datepicker ng-model="date" md-hide-icons="triangle" md-open-on-focus=""></md-datepicker>
                                        </md-input-container>
                                        <md-input-container flex="55"  flex-offset="5">
                                                <label>Reference</label>
                                                <input name="ref" ng-model="ref">
                                        </md-input-container>
                            </div>
                           
                           
                            <div layout="row" flex="85">
                                   <table class="journalTable">
                                       <thead>
                                           <tr>
                                            <th>Select Ledger</th>
                                            <th>Debit</th>
                                            <th>Credit</th>
                                        </tr>
                                       </thead>
                                       <tbody>
                                            <tr>
                                                    <td >
                                                            <label>From</label>
                                                        <md-input-container>
                                                          
                                                            <md-select name="vname" ng-model="vname">
                                                                <md-option value="Product 1">Product 1</md-option>
                                                                <md-option value="Product 2">Product 2</md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </td>
                                                    <td>
                                                            <md-input-container>
                                                                    <input name="name" ng-model="name">
                                                                </md-input-container>
                                                    </td>
                                                    <td></td>
                                            </tr>
                                            <tr>
                                                    <td>
                                                            <label>To</label>
                                                            <md-input-container>
                                                                
                                                                <md-select name="vname" ng-model="vname">
                                                                    <md-option value="Product 1">Product 1</md-option>
                                                                    <md-option value="Product 2">Product 2</md-option>
                                                                </md-select>
                                                            </md-input-container>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                            <md-input-container>
                                                                    <input name="name" ng-model="name">
                                                                </md-input-container>
                                                    </td>
                                            </tr>

                                       </tbody>
                                   </table>
                            </div>
                            <div layout="row" class="addPaddingButtons" flex="85">
                                    <md-button class="md-raised ifBold" flex-offset="65">Reset All</md-button>
                                    <md-button class="md-raised md-primary ifBold">{{btnLabel}}</md-button>
                                    <md-button class="md-raised ifBold">Cancel</md-button>
                            </div>
                </form>
            </md-content>
        </div>

    </div>