<div class="col-xs-11 col-xs-offset-1 fontNormal addInventory" layout="column">
    <div class="sectionSubHeading">
        <h3>New Ledger / Group</h3>
    </div>
    <div class="topPadding20">
        <md-content>
            <form name="addLedgerForm" style="background-color:#f5f6f8">
                        <div layout="row" class="topPadding10">
                                <md-input-container flex="25">
                                    <label>Name*</label>
                                    <input name="name" ng-model="name">
                                </md-input-container>
                                <md-input-container flex="25" flex-offset="5">
                                    <label>Group/Ledger</label>
                                    <md-select name="ledger" ng-model="ledger">
                                        <md-option value="one">1</md-option>
                                        <md-option value="two">2</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="25" flex-offset="5">
                                    <label>Group</label>
                                    <md-select name="group" ng-model="group">
                                        <md-option value="one">One</md-option>
                                        <md-option value="two">Two</md-option>
                                    </md-select>
                                </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="25">
                                <label>Primary Group</label>
                                <md-select name="primaryGroup" ng-model="primaryGroup">
                                    <md-option value="one">One</md-option>
                                    <md-option value="two">Two</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="25" flex-offset="5">
                                <label>Major Group</label>
                                <md-select name="majorGroup" ng-model="majorGroup">
                                    <md-option value="one">One</md-option>
                                    <md-option value="two">Two</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="25" flex-offset="5">
                                <label>Sub Group</label>
                                <md-select name="subGroup" ng-model="subGroup">
                                    <md-option value="one">One</md-option>
                                    <md-option value="two">Two</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row" class="topPadding25">
                                <md-input-container flex="25">
                                        <label>Description</label>
                                        <input name="desc" ng-model="descript">
                                </md-input-container>
                        </div>
                        <div layout="row" class="topPadding25 paddingBottom30">
                            <span class="marginRight20">Opening Balance</span> 
                            <md-radio-group ng-model="group1" layout="row" flex="25">
                                <md-radio-button value="Apple" class="md-primary">Debit</md-radio-button>
                                <md-radio-button value="Banana" class="md-primary">Credit</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div layout="row">
                            <hr />
                        </div>
<div layout="row" class="addPaddingButtons">
        <md-button class="md-raised" flex-offset="45">Reset All</md-button>
        <md-button class="md-raised md-primary">Create</md-button>
        <md-button class="md-raised">Cancel</md-button>
</div>
            </form>
        </md-content>
    </div>
    <div class="">
    </div>
</div>