<div class="col-xs-11 col-xs-offset-1 fontNormal addInventory" layout="column">
        <div class="sectionSubHeading">
            <h3>Format Options</h3>
        </div>
        <div class="topPadding20">
            <md-content>
                <form name="formatOPtionsForm" style="background-color:#f5f6f8">
                            <div layout="row" class="topPadding10">
                                    <md-input-container flex="25">
                                            <label>Bill of Supply Format</label>
                                            <md-select name="cust_name" ng-model="cust_name">
                                                <md-option value="Product 1">Customer 1</md-option>
                                                <md-option value="Product 2">Customer 2</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex="25" flex-offset="5">
                                            <label>Bill of Supply Number Format</label>
                                            <md-select name="cust_name" ng-model="cust_name">
                                                <md-option value="Product 1">Customer 1</md-option>
                                                <md-option value="Product 2">Customer 2</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex="25" flex-offset="5">
                                                <label>Receipt Format</label>
                                                <md-select name="cust_name" ng-model="cust_name">
                                                    <md-option value="Product 1">Customer 1</md-option>
                                                    <md-option value="Product 2">Customer 2</md-option>
                                                </md-select>
                                            </md-input-container>
                            </div>
                            <div layout="row" class="">
                                    <md-input-container flex="25">
                                            <label>Date Format</label>
                                            <md-select name="cust_name" ng-model="cust_name">
                                                <md-option value="Product 1">Customer 1</md-option>
                                                <md-option value="Product 2">Customer 2</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex="25" flex-offset="5">
                                            <label>Currency</label>
                                            <md-select name="cust_name" ng-model="cust_name">
                                                <md-option value="Product 1">Customer 1</md-option>
                                                <md-option value="Product 2">Customer 2</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex="25" flex-offset="5">
                                                <label>Currency Decimals</label>
                                                <md-select name="cust_name" ng-model="cust_name">
                                                    <md-option value="Product 1">Customer 1</md-option>
                                                    <md-option value="Product 2">Customer 2</md-option>
                                                </md-select>
                                            </md-input-container>
                            </div>
                            <div layout="row" class="">
                                    <md-input-container flex="25">
                                            <label>Invoice Format</label>
                                            <md-select name="cust_name" ng-model="cust_name">
                                                <md-option value="Product 1">Customer 1</md-option>
                                                <md-option value="Product 2">Customer 2</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex="25" flex-offset="5">
                                            <label>Invoice Number Format</label>
                                            <md-select name="cust_name" ng-model="cust_name">
                                                <md-option value="Product 1">Customer 1</md-option>
                                                <md-option value="Product 2">Customer 2</md-option>
                                            </md-select>
                                        </md-input-container>
                            </div>
                            
    <div layout="row" class="addPaddingButtons paddingBottom200">
            <md-button class="md-raised ifBold" flex-offset="44">Reset</md-button>
            <md-button class="md-raised md-primary ifBold">Save</md-button>
            <md-button class="md-raised ifBold">Cancel</md-button>
    </div>
                </form>
            </md-content>
        </div>
        <div class="">
        </div>
    </div>