<div class="dashboard">
    <div layout="row" class="paddingTop100">
            <div class="padded text-center whiteColor" md-whiteframe="2" flex="30" flex-offset="15">
                    <div>
                        <img src="application/Images/Assets/INVENTORY_active.png" height="90" width="90"/>
                    </div>
                    <div>
                        <h2>DEBTORS</h2>
                    </div>
            </div>
            <div class="padded text-center whiteColor" md-whiteframe="2" flex="30" flex-offset="10">
                    <div>
                        <img src="application/Images/Assets/INVENTORY_active.png" height="90" width="90"/>
                    </div>
                    <div>
                        <h2>BANKING</h2>
                    </div>
            </div>
    </div>
    <div layout="row" class="paddingTop100">
            <div class="padded text-center whiteColor" md-whiteframe="2" flex="30" flex-offset="15">
                    <div>
                        <img src="application/Images/Assets/INVENTORY_active.png" height="90" width="90"/>
                    </div>
                    <div>
                        <h2>SALES</h2>
                    </div>
            </div>
            <div class="padded text-center whiteColor" md-whiteframe="2" flex="30" flex-offset="10">
                    <div>
                        <img src="application/Images/Assets/INVENTORY_active.png" height="90" width="90"/>
                    </div>
                    <div>
                        <h2>INVENTORY</h2>
                    </div>
            </div>
    </div>
</div>