<div ng-class="moduleHeading == 'Application Users' || moduleHeading == 'Role List'  ? 'paddingLeft130' : 'paddingLeft60'" layout="column" style="overflow-y: hidden">

        <div class="col-xs-12 sectionSubHeading" ng-if="addNewUserPanel">
            <h2>{{userType}} User</h2>
        </div>
        <div class="topPadding20 fontNormal col-xs-11 organizationLevelRoute" ng-if="addNewUserPanel">
                <md-content>
                        <form name="addUserForm" style="background-color:#f5f6f8">
                                <div layout="row" >
                                        <md-input-container flex="25">
                                                <label>First Name*</label>
                                                <input name="fname" ng-model="fname">
                                            </md-input-container>
                                        <md-input-container flex="25" flex-offset="10">
                                            <label>Middle Name</label>
                                            <input name="mname" ng-model="mname">
                                        </md-input-container>
                                        <md-input-container flex="25"  flex-offset="10">
                                                <label>Last Name</label>
                                                <input name="lname" ng-model="lname">
                                        </md-input-container>
                                </div>
                                <div layout="row" >
                                        <md-input-container flex="25">
                                                <label>e-mail ID</label>
                                                <input name="email" ng-model="email">
                                            </md-input-container>
                                        <md-input-container flex="25" flex-offset="10">
                                            <label>Mobile</label>
                                            <input name="mobile" ng-model="mobile">
                                        </md-input-container>
                                        <md-input-container flex="25" flex-offset="10">
                                                <label>Role</label>
                                                <md-select name="role" ng-model="role">
                                                    <md-option value="Product 1">Role 1</md-option>
                                                    <md-option value="Product 2">Role 2</md-option>
                                                </md-select>
                                            </md-input-container>
                                </div>
                                <div layout="row" >
                                        <md-input-container flex="25">
                                                <label>Status</label>
                                                <md-select name="status" ng-model="status">
                                                    <md-option value="Product 1">Status 1</md-option>
                                                    <md-option value="Product 2">Status 2</md-option>
                                                </md-select>
                                            </md-input-container>
                                </div>
                                <div layout="row" class="addPaddingButtons">
                                        <md-button class="md-raised ifBold" flex-offset="55">Reset</md-button>
                                        <md-button class="md-raised md-primary ifBold">{{usertypeBtn}}</md-button>
                                        <md-button class="md-raised ifBold" ng-click="cancel()">Cancel</md-button>
                                </div>
                        </form>
                </md-content>

        </div>
    <div class="col-xs-12 sectionSubHeading">
        <h2>{{moduleHeading}}</h2>
    </div>
    <div class="col-xs-12 sectionSubSection topPadding20" ng-if="!ifThreeBtn">
        <div class="col-xs-7 form-group has-feedback noPadding">
            <input type="text" class="form-control" id="inputSuccess2"/>
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
        <div class="col-xs-2 paddingLeft30" style="margin-left:-5px;">
            <button class="col-xs-11 btn btn-primary btn-app-white-color fontBold">{{btn1}}</button>
        </div>
        <div class="col-xs-2 noPadding paddingLeft10">
            <button class="col-xs-9 btn btn-primary btn-app-blue-color" ng-click="add()">{{btn2}}</button>
        </div>
    </div>
    <div class="col-xs-11 sectionSubSection topPadding20" ng-if="ifThreeBtn">
        <div class="col-xs-6 form-group has-feedback noPadding">
            <input type="text" class="form-control" id="inputSuccess2"/>
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
        <div class="col-xs-2 paddingLeft30">
            <button class="btn btn-primary btn-app-white-color fontBold">{{btn1}}</button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary btn-app-blue-color" ng-click="add()">{{btn2}}</button>
        </div>
        <div class="col-xs-2 paddingRight0">
            <button class="btn btn-primary btn-app-blue-color" ng-click="import()">{{btn3}}</button>
        </div>
    </div>
    <div ng-if="checkModule() || false" class="paddingTop100"></div>
    <div ng-if="!checkModule() || false" class="pagingPart col-xs-3 col-xs-offset-8 paddingTop100 paddingBottom10" ng-class="moduleHeading == 'Application Users' || moduleHeading == 'Role List'  ? 'paddingLeft95' : 'paddingLeft85'">
            <span class="buttonBorder" ng-click="prevPage()">
                <img src="application/Images/Assets/pagination_left.png"/>
            </span>
            <span class="pageIndicator">{{ gridApi.pagination.getPage() }} / {{ gridApi.pagination.getTotalPages() }}</span>
            <span class="buttonBorder" ng-click="nextPage()">
                <img src="application/Images/Assets/pagination_right.png"/>
            </span>
            <span class="ui-grid-pager-row-count-picker">
                <select class="selectPaginationBox" ng-model="paging.pageSelected" 
                ng-change="seek(paging.pageSelected)"
                 ng-options="o for o in pageNumber">
                </select>
            </span>
    </div>
    <div class="col-xs-11 inventorySection paddingRight30 paddingBottom30" ng-class="moduleHeading == 'Role List' ? 'centerItems' : ''">
            <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-pagination ui-grid-auto-resize ui-grid-grouping class="grid">
                <div class="watermark" ng-show="!gridOptions.data.length">No data available</div>
            </div>
    </div>
</div>