<div layout="column">
        <div class="col-xs-12 header">
        <div class="col-xs-3 brandName">COMPANY NAME & FINANCIAL YEAR</div>
        <div class="col-xs-9 noPadding">
                <div class="col-xs-offset-5 col-xs-3 headerMenu noPadding">
                        <ul class="noPadding">
                                        <li><span class="glyphicon glyphicon-home"></span></li>
                                        <li><span class="glyphicon glyphicon-question-sign"></span></li>
                                        <li><span class="glyphicon glyphicon-bell"></span></li>
                                        <li><span class="glyphicon glyphicon-star"></span></li>
                        </ul>
                </div>
                <div class="userProfile col-xs-2 noPadding">
                                <div class="col-xs-7 topPadding10 noPadding">
                                        <div class="name">Hello Name</div>
                                        <div class="subName">You are</div>
                                </div>
                                <div class="col-xs-5 noPadding topPadding5">
                                        <img src="application/Images/user.jpeg" class="img-circle" alt="Cinque Terre" width="45" height="45">
                                </div>
                </div>
                <div class="btn logoutBtn col-xs-1 topMargin10 text-center">
                        <a>Logout</a>
                </div>
        </div>
</div>
<div class="col-xs-12 subHeader noPadding"  ng-if="showNavigations">
        <div class="col-xs-1 noPadding subHeaderListImg">
                <img src="application/Images/logo.png" height="70"/>
        </div>
        <div class="col-xs-1 subHeaderList" ng-repeat="options in headMenuOptions" ui-sref="{{options.url}}" ng-class="{setActiveHeadBar: isActive == '{{options.name}}'}">
                <div><span class="{{options.glyphClasses}}"></span></div>
                <div>{{options.name}}</div>
        </div>
</div>
</div><!--
<div class="col-xs-1 sideMenu noPadding text-center">
        <div ng-repeat="options in sideMenuOptions" ui-sref="{{options.url}}" ng-class="{setActiveSideBar: isActive == '{{options.name}}'}">
                <div><span class="{{options.glyphClasses}}"></span></div>
                <div>{{options.name}}</div>
        </div>
</div>
<div class="col-xs-11 noPadding">
        <div ui-view></div>
</div>-->

        <div class="container-fluid noPadding noMargin" layout="row" flex>
                <md-sidenav md-is-locked-open="true" class="sideNav sideMenu noPadding text-center" ng-if="showNavigations">
                        <div ng-repeat="options in sideMenuOptions" ui-sref="{{options.url}}" ng-class="{setActiveSideBar: isActive == '{{options.name}}'}">
                                <div><span class="{{options.glyphClasses}}"></span></div>
                                <div>{{options.name}}</div>
                        </div>
                </md-sidenav>
                <md-content id="content" class="dynamicSection" flex>
                                <div ui-view></div>
                </md-content>
        </div>
