<div class="col-xs-12 header">
        <div class="col-xs-3 brandName">COMPANY NAME & FINANCIAL YEAR</div>
        <div class="col-xs-9">
                <div class="col-xs-offset-4 col-xs-4 headerMenu">
                        <ul>
                                        <li><span class="glyphicon glyphicon-home"></span></li>
                                        <li><span class="glyphicon glyphicon-question-sign"></span></li>
                                        <li><span class="glyphicon glyphicon-bell"></span></li>
                                        <li><span class="glyphicon glyphicon-star"></span></li>
                        </ul>
                </div>
                <div class="userProfile col-xs-3">
                                <div class="col-xs-7 topPadding10">
                                        <div class="name">Hello Name</div>
                                        <div class="subName">You are</div>
                                </div>
                                <div class="col-xs-5 noPadding topPadding5">
                                        <img src="application/Images/user.jpeg" class="img-circle" alt="Cinque Terre" width="45" height="45">
                                </div>
                </div>
                <div class="btn logoutBtn col-xs-1 topMargin10">
                        <a>Logout</a>
                </div>
        </div>
</div>
<div class="col-xs-12 subHeader noPadding">
        <div class="col-xs-1 noPadding">
                <img src="application/Images/logo.png" height="70" width="114"/>
        </div>
        <div class="col-xs-1 subHeaderList" ng-repeat="options in headMenuOptions" ui-sref="{{options.url}}" ng-class="{setActiveHeadBar: isActive == '{{options.name}}'}">
                <div><span class="{{options.glyphClasses}}"></span></div>
                <div>{{options.name}}</div>
        </div>
</div>
<div class="col-xs-1 sideMenu noPadding text-center">
        <div ng-repeat="options in sideMenuOptions" ui-sref="{{options.url}}" ng-class="{setActiveSideBar: isActive == '{{options.name}}'}">
                <div><span class="{{options.glyphClasses}}"></span></div>
                <div>{{options.name}}</div>
        </div>
</div>
<div class="col-xs-11 noPadding">
        <div ui-view></div>
</div>