<div layout="column">
        <div class="col-xs-12 header">
        <div class="col-xs-3 brandName">COMPANY NAME & FINANCIAL YEAR</div>
        <div class="col-xs-9 noPadding">
                <div class="col-xs-offset-5 col-xs-2 headerMenu noPadding">
                        <ul class="noPadding">

                        <li ui-sref="Home.Organization">
                                <span ng-if="isActive !=='Org Level'">
                                        <img  height="20" width="20" ng-src="application/Images/Assets/Admin_Icons/org_setting_inactive.png" />
                                </span>
                                
                                <span ng-if="isActive =='Org Level'">
                                        <img  height="20" width="20" ng-src="application/Images/Assets/Admin_Icons/org_setting_active.png"/>
                                </span>                                     
                        </li>
                        <li ui-sref="Home.Help">
                                <span ng-if="isActive !=='Help'">
                                        <img  height="20" width="20" ng-src="application/Images/Assets/Admin_Icons/help_inactive.png" />
                                </span>
                                
                                <span ng-if="isActive =='Help'">
                                        <img  height="20" width="20" ng-src="application/Images/Assets/Admin_Icons/help_active.png"/>
                                </span>                                     
                        </li>
                        <li ui-sref="Home.Notification">
                                        <span ng-if="isActive !=='Notification'">
                                                <img  height="20" width="20" ng-src="application/Images/Assets/Admin_Icons/notification_inactive.png" />
                                        </span>
                                        
                                        <span ng-if="isActive =='Notification'">
                                                <img  height="20" width="20" ng-src="application/Images/Assets/Admin_Icons/notification_active.png"/>
                                        </span>                                     
                        </li>
                        <li ui-sref="Home.Application" style="padding-right: 10px;">
                                        <span ng-if="isActive !=='Application Level'">
                                                <img  height="20" width="20" ng-src="application/Images/Assets/Admin_Icons/admin_setting_inactive.png" />
                                        </span>
                                        
                                        <span ng-if="isActive =='Application Level'">
                                                <img  height="20" width="20" ng-src="application/Images/Assets/Admin_Icons/admin_setting_active.png"/>
                                        </span>                                     
                                </li>
                        </ul>
                </div>
                <div class="userProfile col-xs-2 marginLeft4cent marginRight4cent">
                                <div class="col-xs-7 topPadding10 noPadding">
                                        <div class="name">Hello Name</div>
                                        <div class="subName">You are</div>
                                </div>
                                <div class="col-xs-5 noPadding topPadding5">
                                        <img class="marginLeft5" src="application/Images/Assets/profile icons/avatarImg.png" width="45" height="45">
                                </div>
                </div>
                <div class="btn logoutBtn col-xs-1 topMargin10 text-center">
                        <a>Logout</a>
                </div>
        </div>
</div>
<div class="col-xs-12 subHeader noPadding"  ng-if="showNavigations">
        <div class="col-xs-1 noPadding subHeaderListImg">
                <img src="application/Images/Assets/siri_logo.png" height="30"/>
        </div>
        <div class="col-xs-1 subHeaderList" ng-repeat="options in headMenuOptions" ui-sref="{{options.url}}" ng-class="{setActiveHeadBar: isActive == '{{options.name}}'}">
                <div class="paddingBottom10">
                        <span ng-if="isActive === options.name">
                                <img  height="25" width="25" ng-src="{{options.SelimgSrc}}" />
                        </span>
                        
                        <span ng-if="isActive !== options.name">
                                <img  height="25" width="25" ng-src="{{options.imgSrc}}"/>
                        </span>
                 </div>
                <div>{{options.name}}</div>
        </div>
</div>
</div>
<div class="container-fluid noPadding noMargin" layout="row" flex>
        <md-sidenav md-is-locked-open="true" class="sideNav sideMenu noPadding text-center" ng-if="showNavigations">
                <div ng-repeat="options in sideMenuOptions" ui-sref="{{options.url}}" ng-class="{setActiveSideBar: isActive == '{{options.name}}'}">
                        <div class="paddingBottom5">
                                <span ng-if="isActive === options.name">
                                        <img  height="25" width="25" ng-src="{{options.SelimgSrc}}" />
                                </span>
                                
                                <span ng-if="isActive !== options.name">
                                        <img  height="25" width="25" ng-src="{{options.imgSrc}}"/>
                                </span>
                        </div>
                        <div>{{options.name}}</div>
                </div>
        </md-sidenav>
        <md-content id="content" class="dynamicSection" flex>
                        <div ui-view></div>
        </md-content>
</div>
