<div class="paddingLeft60" layout="column">
    <div class="col-xs-12 sectionSubHeading">
        <h2>Inventory</h2>
    </div>
    <div class="col-xs-12 sectionSubSection topPadding20">
        <div class="col-xs-7 form-group has-feedback noPadding">
            <input type="text" class="form-control" id="inputSuccess2"/>
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
        <div class="col-xs-2 paddingLeft30 paddingRight0">
            <button class="col-xs-9 btn btn-primary btn-app-white-color fontBold">Search</button>
        </div>
        <div class="col-xs-2 noPadding">
            <button class="col-xs-12 btn btn-primary btn-app-blue-color" ng-click="addProduct()">Add New Product</button>
        </div>
    </div>
    <div class="col-xs-11 paddingTop100 inventorySection">
<mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}" mdt-row="{
    data: nutritionList,
    'column-keys': [
        'product',
        'ledger',
        'specification',
        'stockCount',
        'vendor',
        'status',
    ]
    }">
    <mdt-header-row>
            <mdt-column column-sort="true"><span>Product</span></mdt-column>
            <mdt-column><span>Ledger</span></mdt-column>
            <mdt-column><span>Specification</span></mdt-column>
            <mdt-column><span>Stock Count</span></mdt-column>
            <mdt-column><span>Vendor</span></mdt-column>
            <mdt-column><span>Status</span></mdt-column>
        </mdt-header-row>

        <mdt-custom-cell column-key="product">
                <span>{{value}}</span><span style="position:absolute;right:20px;top:15px" class="glyphicon glyphicon-pencil"></span>
        </mdt-custom-cell>

        <mdt-custom-cell column-key="ledger">
                <span>{{value}}</span><span style="position:absolute;right:20px;top:15px" class="glyphicon glyphicon-briefcase"></span>
        </mdt-custom-cell>

        <mdt-custom-cell column-key="vendor">
                <span>{{value}}</span><span style="position:absolute;right:20px;top:15px" class="glyphicon glyphicon-pencil"></span>
        </mdt-custom-cell>

</mdt-table>
    </div>
</div>