<div>
    <button class="btn btn-primary" ng-click="login()">Login</button>
</div>
<div layout="column" ng-cloak="" class="md-block" layout-align="center center">
    <md-content layout-padding="" class = "md-block">
        <div>
          <form name="userForm">
                <md-input-container class = "md-block" >
                        <label>E-mail</label>
                        <input required type = "email" name = "email"
                           ng-model = "user.email"
                           minlength = "10" maxlength = "70" ng-pattern = "/^.+@.+\..+$/" />
                        <div ng-messages = "userForm.email.$error" role = "alert">
                           <div ng-message-exp = "['required', 'minlength', 'maxlength',
                              'pattern']">
                              Your email must be between 10 and 100 characters long and should
                              be a valid email address.
                           </div>
                        </div>
                     </md-input-container>
                     <md-input-container class = "md-block">
                        <label>Password</label>
                        <input type = "password" name = "password"
                            ng-model = "user.password"/>
                       </md-input-container>
                        <md-input-container class = "md-block">
                        <label>Your Oraganization ID</label>
                        <input type = "text" name = "id"
                            ng-model = "user.id"/>
                        </md-input-container>
            <div>
                <md-button class="md-raised md-primary" layout-md="column" layout-align="center center">Login</md-button>
            </div>
     </form>
        </div>
      </md-content>
</div>
<div>Change Password</div>