<div class="col-xs-11 col-xs-offset-1 fontNormal addInventory" layout="column">
        <div class="sectionSubHeading">
            <h3>Your Organization</h3>
        </div>
        <div layout="row" class="topPadding20">
                <md-button class="md-raised md-primary marginLeft0" style="text-align:left" flex="20">Location<span class="pull-right description">-</span></md-button>
        </div>
        <div class="topPadding20">
                <md-content>
                    <form name="yourOrganization" style="background-color:#f5f6f8">
                            <div layout="row">
                                    <md-input-container flex="25">
                                        <label>Name*</label>
                                        <input name="name" ng-model="name">
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>Address 1</label>
                                            <input name="add1" ng-model="add2">
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>Address 2</label>
                                            <input name="add2" ng-model="add2">
                                    </md-input-container>
                            </div>
                            <div layout="row">
                                    <md-input-container flex="25">
                                        <label>City</label>
                                        <input name="city" ng-model="city">
                                   </md-input-container>
                                    <md-input-container flex="25" flex-offset="5">
                                            <label>State</label>
                                            <md-select name="state" ng-model="state">
                                                <md-option value="one">One</md-option>
                                                <md-option value="two">Two</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex="25" flex-offset="5">
                                                <label>Country</label>
                                                <md-select name="ctry" ng-model="ctry">
                                                    <md-option value="one">One</md-option>
                                                    <md-option value="two">Two</md-option>
                                                </md-select>
                                            </md-input-container>
                            </div>
                            <div layout="row">
                                    <md-input-container flex="25">
                                        <label>PIN</label>
                                        <input name="pin" ng-model="pin">
                                   </md-input-container>
                            </div>
                    </form>
                </md-content>
        </div>
        <div layout="row" class="">
                <md-button class="md-raised" flex-offset="78">Reset</md-button>
        </div>
        <div layout="row" class="">
                <md-button class="md-raised md-primary marginLeft0" style="text-align:left" flex="20">Registration<span class="pull-right description">-</span></md-button>
        </div>
        <div class="topPadding20">
                <md-content>
                    <form name="yourOrganization" style="background-color:#f5f6f8">
                            <div layout="row">
                                    <md-input-container flex="25" >
                                            <label>Type</label>
                                            <md-select name="type" ng-model="type">
                                                <md-option value="one">One</md-option>
                                                <md-option value="two">Two</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex="25" flex-offset="5">
                                                <label>Nature of Business</label>
                                                <md-select name="buss" ng-model="buss">
                                                    <md-option value="one">One</md-option>
                                                    <md-option value="two">Two</md-option>
                                                </md-select>
                                            </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>Books Beginning from</label>
                                            <input name="books" ng-model="books">
                                    </md-input-container>
                            </div>

                            <div layout="row">
                                    <md-input-container flex="25">
                                        <label>Registration Number</label>
                                        <input name="rn" ng-model="rn">
                                   </md-input-container>
                                   <md-input-container flex="25" flex-offset="5">
                                        <label>PAN</label>
                                        <input name="pan" ng-model="pan">
                                   </md-input-container>
                                   <md-input-container flex="25" flex-offset="5">
                                        <label>Aadhar</label>
                                        <input name="aadhar" ng-model="aadhar">
                                   </md-input-container>
                            </div>
                            <div layout="row">
                                    <md-input-container flex="25">
                                            <label>GST Scheme</label>
                                            <md-select name="w" ng-model="typwe">
                                                <md-option value="one">One</md-option>
                                                <md-option value="two">Two</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex="25" flex-offset="5">
                                                <label>GST Reverse Charge</label>
                                                <md-select name="bduss" ng-model="bduss">
                                                    <md-option value="one">One</md-option>
                                                    <md-option value="two">Two</md-option>
                                                </md-select>
                                            </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>GST Number</label>
                                            <input name="bdooks" ng-model="bfooks">
                                    </md-input-container>
                            </div>
                    </form>
                </md-content>
        </div>
        <div layout="row" class="">
                <md-button class="md-raised" flex-offset="78">Reset</md-button>
        </div>
        <div layout="row" class="">
                <md-button class="md-raised md-primary marginLeft0" style="text-align:left" flex="20">Contacts<span class="pull-right description">-</span></md-button>
        </div>
        <div class="topPadding20">
                <md-content>
                    <form name="yourOrganization" style="background-color:#f5f6f8">
                            <div layout="row">
                                    <md-input-container flex="25">
                                            <label>Office Email</label>
                                            <input name="email" ng-model="email">
                                       </md-input-container>
                                       <md-input-container flex="25" flex-offset="5">
                                            <label>Phone</label>
                                            <input name="phone" ng-model="phone">
                                       </md-input-container>
                                       <md-input-container flex="25" flex-offset="5">
                                            <label>Website</label>
                                            <input name="website" ng-model="website">
                                       </md-input-container>
                            </div>

                            <div layout="row">
                                    <md-input-container flex="25">
                                        <label>Contact Name</label>
                                        <input name="rn" ng-model="rn">
                                   </md-input-container>
                                   <md-input-container flex="25" flex-offset="5">
                                        <label>Contact e-mail</label>
                                        <input name="pan" ng-model="pan">
                                   </md-input-container>
                            </div>
                    </form>
                </md-content>
        </div>
        <div layout="row" class="">
                <md-button class="md-raised" flex-offset="78">Reset</md-button>
        </div>
        <div layout="row" class="addPaddingButtons">
                <md-button class="md-raised" flex-offset="59">Reset All</md-button>
                <md-button class="md-raised md-primary">Save</md-button>
        </div>
</div>