.body {
	margin:0px;
	padding:0px;
	height:100%;
}
.setActiveSideBar {
	background-color: #f5f6f8;
	color:#0935ae;
	border-left:2px solid #0935ae !important;
}
.setActiveHeadBar {
	background-color: #f5f6f8;
	color:#0935ae;
	border-bottom:2px solid #0935ae !important;
}
.header {
	background-color: #0935ae;
	color:white;
}
.logoutBtn {
	border: 1px solid white;
	color: white;
	width:100px;
}
.logoutBtn a {
	font-size: 12px;
	padding: 0px 10px;
	text-decoration: none;
	color: white;
}
.headerMenu ul{
	list-style: none;
	color:#9caede
}
.headerMenu ul li{
	display: inline;
	border-right: 1px solid #9caede;
	padding: 20px 6px;
}
.headerMenu ul li span{
	padding: 20px 10px 11px;
    font-size: 14px;
}
.headerMenu ul li:first-child{
	border-left: 1px solid #9caede;
}
.headerMenu.LoginActions ul {
	color: grey;
	cursor: pointer;
	font-size: 14px;
	border-color:black;
}
.headerMenu.LoginActions ul li{
	border-color:black;
	padding:0px 25px;
}
.headerMenu.LoginActions ul li:first-child{
	border-left: none;
}
.headerMenu.LoginActions ul li:last-child{
	border-right: none;
}
.brandName {
	padding: 18px 0px 18px 40px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.userProfile {
	font-family: sans-serif;
}
.userProfile .subName{
	font-size: 11px;
}
.borderTrue {
	border:1px solid black;
}
.subHeader {
	background-color: #d6d9d9;
}
.subHeaderListImg {
	1width: 9.15%;
}
.subHeaderListImg img {
	width: 114px;
}
.subHeaderList {
	text-align: center;
	border-right:1px solid white;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 9.15%;
	cursor: pointer;
	border-bottom: 2px solid #d6d9d9;
}
.subHeaderList ~ div {
	text-align: center;
	border-right:1px solid white;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 9.15%;
	cursor: pointer;
	border-bottom: 2px solid #d6d9d9;
}
.subHeaderList span{
	font-size: 18px;
	margin-bottom: 13px;
}
.subHeaderList ~ div span{
	font-size: 18px;
	margin-bottom: 13px;
}
.sideMenu {
	background-color: #d6d9d9;
}
.sideMenu .glyphicon {
	margin-bottom:10px;
}
.sideMenu > div {
	border-bottom: 1px solid white;
	cursor: pointer;	
	padding:10px;
	width:114px;
}
.login .md-content{
	background-color: white !important;
}
.sideNav {
		width: 114px;
}
.dynamicSection {
	background-color: #f5f6f8;
}
.marginBottom30{
	margin-bottom:30px !important;
}
.sectionSubHeading {
	padding-top:30px;
	color : #0935ae;
}
.dynamicSection {
	padding-left:30px;
}
.sectionSubSection .glyphicon {
	color:lightgrey;
}
.btn-app-blue-color {
	color: #fff;
    background-color: #0935ae;
    border-color: #2e6da4;
}
.btn-app-blue-color:hover {
	color: #fff;
    background-color: #0935ae;
    border-color: #2e6da4;
}
.btn-app-white-color {
	color:#0935ae;
    background-color: #f5f6f8;;
    border-color:#ccc;
}
.btn-app-white-color:hover {
	color: #0935ae;
    background-color: #f5f6f8;
    border-color:#ccc;
}
.btn-app-white-color:focus {
	color: #0935ae;
    background-color: #f5f6f8;
    border-color:#ccc;
}
.fontBold {
	font-weight: bold;
}
.mdtTable .theadTrRow{
	background-color: #e7e9e9;
}
.mdtTable .theadTrRow th{
	text-align: center;
	color: black !important;
	border-left:1px solid lightgrey;
	border-top:1px solid lightgrey;
	padding:0px;
	font-weight:bold;
}
.mdtTable .theadTrRow th:nth-child(2){
	border-left:none;
}
.mdtTable .tbodyTrRow td{
	text-align: center;
	padding:0px;
	border-left:1px solid#cacdcd
}
.mdtTable .tbodyTrRow td:nth-child(2){
	border-left:none;
}
/*Paddings*/
.noPadding{
	padding:0px !important;
}
.noPaddingRight {
	padding-right:0px !important;
}
.topPadding5{
	padding-top:5px !important;
}
.topPadding10{
	padding-top:10px !important;
}
.topPadding20{
	padding-top:20px !important;
}
.paddingTop70 {
	padding-top:70px;
}
.paddingLeft30 {
	padding-left: 30px;
}
.paddingRight0 {
	padding-right:0px;
}
/*Paddings*/
/*Margins*/
.noMargin {
	margin:0px !important;
}
.topMargin10 {
	margin-top:10px;
}
/*Margins*/