.body {
	margin:0px;
	padding:0px;
}
.setActiveSideBar {
	background-color: rgb(245, 246, 248);
	color:#0935ae;
	border-left:2px solid #0935ae !important;
}
.setActiveHeadBar {
	background-color: rgb(245, 246, 248);
	color:#0935ae;
	border-bottom:2px solid #0935ae !important;
}
.header {
	background-color: #0935ae;
	color:white;
}
.logoutBtn {
	border: 1px solid white;
    color: white;
}
.logoutBtn a {
	font-size: 12px;
	padding: 0px 10px;
	text-decoration: none;
	color: white;
}
.headerMenu ul{
	list-style: none;
	color:#9caede
}
.headerMenu ul li{
	display: inline;
	border-right: 1px solid #9caede;
	padding: 20px 6px;
}
.headerMenu ul li span{
	padding: 20px 10px 11px;
    font-size: 14px;
}
.headerMenu ul li:first-child{
	border-left: 1px solid #9caede;
}
.headerMenu.LoginActions ul {
	color: grey;
	cursor: pointer;
	font-size: 14px;
	border-color:black;
	margin-top:20px;
}
.headerMenu.LoginActions ul li{
	border-color:black;
	padding:0px 25px;
}
.headerMenu.LoginActions ul li:first-child{
	border-left: none;
}
.headerMenu.LoginActions ul li:last-child{
	border-right: none;
}
.brandName {
	padding: 18px 0px 18px 40px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.userProfile {
	font-family: sans-serif;
}
.userProfile .subName{
	font-size: 11px;
}
.borderTrue {
	border:1px solid black;
}
.noPadding{
	padding:0px !important;
}
.topPadding10{
	padding-top:10px !important;
}
.topPadding5{
	padding-top:5px !important;
}
.topMargin10 {
	margin-top:10px;
}
.subHeader {
	background-color: #d6d9d9;
}
.subHeaderList {
	text-align: center;
	border-right:1px solid white;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 9.15%;
	cursor: pointer;
	border-bottom: 2px solid #d6d9d9;
}
.subHeaderList ~ div {
	text-align: center;
	border-right:1px solid white;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 9.15%;
	cursor: pointer;
	border-bottom: 2px solid #d6d9d9;
}
.subHeaderList span{
	font-size: 18px;
	margin-bottom: 13px;
}
.subHeaderList ~ div span{
	font-size: 18px;
	margin-bottom: 13px;
}
.sideMenu {
	background-color: #d6d9d9;
}
.sideMenu .glyphicon {
	margin-bottom:10px;
}
.sideMenu > div {
	border-bottom: 1px solid white;
	cursor: pointer;	
	padding:10px;
	width:114px;
}
.login .md-content{
	background-color: white !important;
}
.paddingTop100 {
	padding-top:100px;
}