.body {
	margin:0px;
	padding:0px;
	height:100%;
}
.setActiveSideBar {
	background-color: #f5f6f8;
	color:#0935ae;
	border-left:2px solid #0935ae !important;
}
.setActiveHeadBar {
	background-color: #f5f6f8;
	color:#0935ae;
	border-bottom:2px solid #0935ae !important;
}
.setActiveSubHeadBar {
	background-color:white;
	color: grey !important;
	border-bottom: 2px solid grey !important;
}
.header {
	background-color: #0935ae;
	color:white;
}
.logoutBtn {
	border: 1px solid white;
	color: white;
	width:100px;
}
.logoutBtn a {
	font-size: 12px;
	padding: 0px 10px;
	text-decoration: none;
	color: white;
}
.headerMenu ul{
	list-style: none;
	color:#9caede;
	margin-top:16px;
}
.headerMenu ul li{
	display: inline;
	border-right: 1px solid #9caede;
	padding: 16px 5px 21px 0px;
}
.headerMenu ul li span{
	padding: 24px 0px 9px 10px;
    font-size: 14px;
}
.headerMenu ul li:first-child{
	border-left: 1px solid #9caede;
}
.headerMenu.LoginActions ul {
	color: grey;
	cursor: pointer;
	font-size: 14px;
	border-color:black;
}
.headerMenu.LoginActions ul li{
	border-color:black;
	padding:0px 25px;
}
.headerMenu.LoginActions ul li:first-child{
	border-left: none;
}
.headerMenu.LoginActions ul li:last-child{
	border-right: none;
}
.brandName {
	padding: 18px 0px 18px 40px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.userProfile {
	font-family: sans-serif;
}
.userProfile .subName{
	font-size: 11px;
}
.borderTrue {
	border:1px solid black;
}
.subHeader {
	background-color: #d6d9d9;
}
.subHeaderOrgLevel {
	background-color:white;
}
.subHeaderListImg {
	background-color: grey;
	text-align: center;
	border-right: 1px solid grey;
}
.subHeaderListImg img {
	/*width: 114px;*/
	width:90%;
	margin: 19px 0px 20px 0px;
}
.subHeaderListImgOrg {
	background-color: grey;
	text-align: center;
	border-right: 1px solid grey;
	width: 5.5%;
}
.subHeaderListImgOrg img {
	/*width: 114px;*/
	margin: 25px 0px 25px 0px;
}
.subHeaderList {
	text-align: center;
	border-right:1px solid white;
	font-size: 12px;
	padding-top: 10px;
	width: 9.15%;
	cursor: pointer;
	border-bottom: 2px solid #d6d9d9;
	padding-bottom: 5px;
}
.subHeaderList ~ div {
	text-align: center;
	border-right:1px solid white;
	font-size: 12px;
	padding-top: 10px;
	width: 9.15%;
	cursor: pointer;
	border-bottom: 2px solid #d6d9d9;
	padding-bottom: 5px;
}
.subHeaderList span{
	font-size: 18px;
	margin-bottom: 13px;
}
.subHeaderList ~ div span{
	font-size: 18px;
	margin-bottom: 13px;
}
/**/

.subHeaderOrgList {
	text-align: center;
	border-right:1px solid #f5f6f8;
	font-size: 12px;
	padding-top: 10px;
	width: 9.15%;
	cursor: pointer;
	padding-bottom: 5px;
	color: #0935ae;
}
.subHeaderOrgList ~ div {
	text-align: center;
	border-right:1px solid #f5f6f8;
	font-size: 12px;
	padding-top: 10px;
	width: 9.15%;
	cursor: pointer;
	padding-bottom: 5px;
}
.subHeaderOrgList span{
	font-size: 18px;
	margin-bottom: 13px;
}
.subHeaderOrgList ~ div span{
	font-size: 18px;
	margin-bottom: 13px;
}
/**/
.sideMenu {
	background-color: #d6d9d9;
}
.sideMenu .glyphicon {
	margin-bottom:10px;
}
.sideMenu > div {
	border-bottom: 1px solid white;
	cursor: pointer;	
	padding:10px;
	width:114px;
}
.login .md-content{
	background-color: white !important;
}
.sideNav {
		width: 112px;
		overflow:hidden;
}
.dynamicSection {
	background-color: #f5f6f8;
}
.marginBottom30{
	margin-bottom:30px !important;
}
.sectionSubHeading {
	padding-top:30px;
	color : #0935ae;
}
.sectionSubSection .glyphicon {
	color:lightgrey;
}
.btn-app-blue-color {
	color: #fff;
    background-color: #0935ae;
    border-color: #2e6da4;
}
.btn-app-blue-color:hover {
	color: #fff;
    background-color: #0935ae;
    border-color: #2e6da4;
}
.btn-app-white-color {
	color:#0935ae;
    background-color: #f5f6f8;;
    border-color:#ccc;
}
.btn-app-white-color:hover {
	color: #0935ae;
    background-color: #f5f6f8;
    border-color:#ccc;
}
.btn-app-white-color:focus {
	color: #0935ae;
    background-color: #f5f6f8;
    border-color:#ccc;
}
.fontBold {
	font-weight: bold;
}
.fontNormal label {
	font-weight: normal !important;
	color:black;
}
.fontNormal md-select-value span {
	color:black;
}
.description {
	border-top: 1px solid white;
    height: 5px;
    margin-top: 18px;
    padding-right: 5px;
    margin-right: 5px;
}
.addInventory button.md-raised {
	color: #0935ae;
	/*margin-left: 0px;*/
	font-weight: 400;
}
.addInventory button.md-raised.md-primary {
	background-color: #0935ae !important;
	/*margin-left: 0px;*/
	color:white;	
	font-weight: 400;
}
.dashboard .padded h2 {
	color:#717373;
	padding-top:10px;
}
.dashboard .padded.whiteColor {
	background-color: white;
	padding:50px 0px;
}
/*Paddings*/
.noPadding{
	padding:0px !important;
}
.noPaddingRight {
	padding-right:0px !important;
}
.topPadding5{
	padding-top:5px !important;
}
.topPadding10{
	padding-top:10px !important;
}
.topPadding20{
	padding-top:20px !important;
}
.topPadding25{
	padding-top:25px !important;
}
.topPadding30{
	padding-top:30px !important;
}
.paddingTop70 {
	padding-top:70px;
}
.paddingTop100 {
	padding-top:100px;
}
.paddingLeft30 {
	padding-left: 30px;
}
.paddingLeft60 {
	padding-left: 60px;
}
.paddingLeft65 {
	padding-left: 65px;
}
.paddingLeft80 {
	padding-left: 80px;
}
.paddingRight0 {
	padding-right:0px;
}
.paddingBottom5 {
	padding-bottom: 5px;
}
.paddingBottom10 {
	padding-bottom: 10px;
}
.paddingBottom30 {
	padding-bottom: 30px;
}
.paddingRight30 {
	padding-right:30px !important;
}
/*Paddings*/
/*Margins*/
.noMargin {
	margin:0px !important;
}
.topMargin10 {
	margin-top:10px;
}
.marginTop12 {
	margin-top:12px;
}
.marginLeft0 {
	margin-left: 0px;
}
.marginRight20 {
	margin-right: 20px;
}
.marginLeft4cent {
	margin-left: 4%;
}
.marginRight4cent {
	margin-right: 4%;
}
.marginLeft5 {
	margin-left: 5px;
}
/*Margins*/
/*Grid*/
.grid .ui-grid-header-cell {
	height: 40px;
	padding-left: 15px;
	background-color: rgb(231, 233, 233);
}
.grid .ui-grid-cell-contents {
	text-align: center;	
	margin-top:5px;
}
/*Grid*/
.productInactive {
	float: right;
    position: relative;
    right: 10px;
}
.grid .ui-grid-row-selected {
	border : 1px solid #24aaec;
	overflow: hidden !important;
}
.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
	background-color: white;
}
.ui-grid-row-selected .ui-grid-cell:first-child {
	margin-left:-1px !important;
}
.ui-grid-row-selected .ui-grid-cell:last-child {
	margin-right:-1px !important;
}
.buttonBorder {
	border: 1px solid #cccccc;
    padding: 4px 4px 5px 7px;
}
.pageIndicator {
	padding:0px 10px;
}
.selectPaginationBox {
	height: 28px;
    top: 0p;
    margin-top: -5px;
}
.ui-grid-pager-row-count-picker {
    float: none;
    padding-left: 10px;
}
.watermark {
    position: absolute;
    top: 50%;                    
    transform: translateY(-50%);
    opacity: 0.25;
    font-size: 3em;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
.sectionSubSection .col-xs-2{
	width:16%;
}
.sectionSubSection .col-xs-2 button{
	width:100%;
}
.addPaddingButtons {
	padding-top:50px;
	padding-bottom:100px;

}
.addPaddingButtons .md-raised {
	width : 12.6%;
}
.nav-tabs {
	border-bottom:0px;
}
.nav-tabs>li>a {
	width:200px;
	background-color:rgb(86, 90, 90);
	color:white;
	text-align: center;
}
.nav-tabs>li>a:hover {
	background-color:rgb(86, 90, 90);
	color:white;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border: 1px solid #24aaec;
	box-shadow: 0px 0px 10px 0px #24aaec;
	border-bottom:0px;
}
.borderForRadio {
	border-bottom: 1px solid grey;
}
.downloadPayment {
	margin-right: 170px;
    margin-top: 15px;
}
.journalTable {
	width:100%;
	border:1px solid #d4d4d4;
}
.journalTable thead tr{
	height: 40px;
	background-color: #e7e9e9;
}
.journalTable thead tr th{
	text-align: center;
	border-right: 1px solid #d4d4d4;
}
.journalTable tbody tr td{
	border-right: 1px solid #d4d4d4;
	background-color: white;
	padding: 15px;
}
.journalTable tbody tr td label{
	margin-top:25px;
}
.journalTable tbody tr td:first-child md-input-container {
	width: 90%;
	float: right;
}
.journalTable tbody tr:first-child td{
	border-bottom: 1px solid #d4d4d4;
}
.journalTable tbody tr td:first-child {
	width: 550px;
}
.journalTable thead tr th:last-child , .journalTable .journalTable tbody tr td:last-child{
	border-right: none
}
/**/
.md-icon-button + .md-datepicker-input-container {
	float: left;
	margin-left: 0px;
}  
._md-datepicker-floating-label>md-datepicker .md-datepicker-button {
	position: absolute;
	right: -10px;
	z-index: 99;
}
._md-datepicker-floating-label._md-datepicker-has-calendar-icon>label:not(.md-no-float):not(.md-container-ignore) {
	left:0px !important;
}
.md-datepicker-input {
	min-width: 270px;
}